Repository michelin/ns4kafka, pull requests merged in 2021-03, with the labels that each got.

#18 Creation of a service dedicated to the namespace verification
  api/src/main/java/com/michelin/ns4kafka/controllers/AdminController.java
  api/src/main/java/com/michelin/ns4kafka/services/NewNamespaceValidator.java
Labels: API, enhancement

#20 Create classes dedicated to handle exception RuntimeException and the HTTP response
  api/src/main/java/com/michelin/ns4kafka/controllers/AccessControlListController.java
  api/src/main/java/com/michelin/ns4kafka/controllers/AdminController.java
  api/src/main/java/com/michelin/ns4kafka/controllers/ConnectController.java
  api/src/main/java/com/michelin/ns4kafka/controllers/ExceptionHandlerController.java
  api/src/main/java/com/michelin/ns4kafka/controllers/ResourceValidationException.java
  api/src/main/java/com/michelin/ns4kafka/controllers/TopicController.java
  api/src/main/java/com/michelin/ns4kafka/validation/FieldValidationException.java
  api/src/main/java/com/michelin/ns4kafka/validation/ResourceValidationException.java
  api/src/test/java/com/michelin/ns4kafka/controllers/TopicControllerTest.java
Labels: API

#22 Refactor Connect using Micronaut Declarative @Client
  api/src/main/java/com/michelin/ns4kafka/controllers/ConnectController.java
  api/src/main/java/com/michelin/ns4kafka/repositories/ConnectRepository.java
  api/src/main/java/com/michelin/ns4kafka/services/ConnectRestService.java
  api/src/main/java/com/michelin/ns4kafka/services/connect/KafkaConnectClientProxy.java
  api/src/main/java/com/michelin/ns4kafka/services/connect/KafkaConnectService.java
  api/src/main/java/com/michelin/ns4kafka/services/connect/client/KafkaConnectClient.java
  api/src/main/java/com/michelin/ns4kafka/services/connect/client/entities/ActiveTopicsInfo.java
  api/src/main/java/com/michelin/ns4kafka/services/connect/client/entities/ConfigInfo.java
  api/src/main/java/com/michelin/ns4kafka/services/connect/client/entities/ConfigInfos.java
  api/src/main/java/com/michelin/ns4kafka/services/connect/client/entities/ConfigKeyInfo.java
  api/src/main/java/com/michelin/ns4kafka/services/connect/client/entities/ConfigValueInfo.java
  api/src/main/java/com/michelin/ns4kafka/services/connect/client/entities/ConnectorInfo.java
  api/src/main/java/com/michelin/ns4kafka/services/connect/client/entities/ConnectorPluginInfo.java
  api/src/main/java/com/michelin/ns4kafka/services/connect/client/entities/ConnectorStateInfo.java
  api/src/main/java/com/michelin/ns4kafka/services/connect/client/entities/ConnectorStatus.java
  api/src/main/java/com/michelin/ns4kafka/services/connect/client/entities/ConnectorTaskId.java
  api/src/main/java/com/michelin/ns4kafka/services/connect/client/entities/ConnectorType.java
  api/src/main/java/com/michelin/ns4kafka/services/connect/client/entities/ServerInfo.java
  api/src/main/java/com/michelin/ns4kafka/services/connect/client/entities/TaskInfo.java
  api/src/main/java/com/michelin/ns4kafka/services/connect/client/entities/package-info.java
  api/src/test/java/com/michelin/ns4kafka/controllers/ConnectControllerTest.java
  api/src/test/java/com/michelin/ns4kafka/controllers/TopicControllerTest.java
  api/src/test/java/com/michelin/ns4kafka/services/KafkaConnectClientProxyTest.java
  api/src/test/java/com/michelin/ns4kafka/services/KafkaConnectServiceTest.java
Labels: API, enhancement

#27 Rework Topic and ACL Controller-Service responsibilities
  api/src/main/java/com/michelin/ns4kafka/controllers/AdminController.java
  api/src/main/java/com/michelin/ns4kafka/controllers/ExceptionHandlerController.java
  api/src/main/java/com/michelin/ns4kafka/controllers/ResourceNotFoundException.java
  api/src/main/java/com/michelin/ns4kafka/controllers/TopicController.java
  api/src/main/java/com/michelin/ns4kafka/repositories/TopicRepository.java
  api/src/main/java/com/michelin/ns4kafka/repositories/kafka/KafkaTopicRepository.java
  api/src/main/java/com/michelin/ns4kafka/services/AccessControlEntryService.java
  api/src/main/java/com/michelin/ns4kafka/services/NamespaceService.java
  api/src/main/java/com/michelin/ns4kafka/services/NewNamespaceValidator.java
  api/src/main/java/com/michelin/ns4kafka/services/TopicService.java
Labels: API, enhancement

#31 Rework ACL Service
  api/src/main/java/com/michelin/ns4kafka/controllers/AccessControlListController.java
  api/src/main/java/com/michelin/ns4kafka/models/AccessControlEntry.java
  api/src/main/java/com/michelin/ns4kafka/models/Namespace.java
  api/src/main/java/com/michelin/ns4kafka/repositories/AccessControlEntryRepository.java
  api/src/main/java/com/michelin/ns4kafka/repositories/kafka/KafkaAccessControlEntryRepository.java
  api/src/main/java/com/michelin/ns4kafka/security/ResourceBasedSecurityRule.java
  api/src/main/java/com/michelin/ns4kafka/services/AccessControlEntryService.java
  api/src/main/java/com/michelin/ns4kafka/services/KafkaAsyncExecutor.java
  api/src/main/java/com/michelin/ns4kafka/services/NamespaceService.java
  api/src/main/java/com/michelin/ns4kafka/services/TopicService.java
  api/src/main/java/com/michelin/ns4kafka/services/connect/KafkaConnectService.java
  api/src/test/java/com/michelin/ns4kafka/controllers/AccessControlListControllerTest.java
  api/src/test/java/com/michelin/ns4kafka/security/ResourceBasedSecurityRuleTest.java
  api/src/test/java/com/michelin/ns4kafka/services/AccessControlEntryServiceTest.java
  api/src/test/java/com/michelin/ns4kafka/services/KafkaConnectServiceTest.java
Labels: component: API, optimization
