Repository michelin/ns4kafka, pull requests merged in 2021-07, with the labels that each got.

#79 Simplify kafkactl setup and auto create ~/.kafkactl folder
  README.md
  api/src/main/resources/application.yml
  cli/build.gradle
  cli/src/main/java/com/michelin/ns4kafka/cli/KafkactlCommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/KafkactlConfig.java
  cli/src/main/java/com/michelin/ns4kafka/cli/services/LoginService.java
  cli/src/main/resources/application.yml
Labels: fix

#86 403 Forbidden when using controller methods with resource name containing . (dot)
  api/src/main/java/com/michelin/ns4kafka/models/ObjectMeta.java
  api/src/main/java/com/michelin/ns4kafka/security/ResourceBasedSecurityRule.java
  api/src/test/java/com/michelin/ns4kafka/integration/TopicTest.java
  api/src/test/java/com/michelin/ns4kafka/security/ResourceBasedSecurityRuleTest.java
Labels: fix

#84 Improved Error Handling and new Status header on apply
  api/src/main/java/com/michelin/ns4kafka/controllers/AccessControlListController.java
  api/src/main/java/com/michelin/ns4kafka/controllers/ApplyStatus.java
  api/src/main/java/com/michelin/ns4kafka/controllers/ConnectController.java
  api/src/main/java/com/michelin/ns4kafka/controllers/ConsumerGroupController.java
  api/src/main/java/com/michelin/ns4kafka/controllers/ExceptionHandlerController.java
  api/src/main/java/com/michelin/ns4kafka/controllers/NamespaceController.java
  api/src/main/java/com/michelin/ns4kafka/controllers/NamespacedResourceController.java
  api/src/main/java/com/michelin/ns4kafka/controllers/NonNamespacedResourceController.java
  api/src/main/java/com/michelin/ns4kafka/controllers/ResourceController.java
  api/src/main/java/com/michelin/ns4kafka/controllers/ResourceNotFoundException.java
  api/src/main/java/com/michelin/ns4kafka/controllers/ResourceValidationException.java
  api/src/main/java/com/michelin/ns4kafka/controllers/RoleBindingController.java
  api/src/main/java/com/michelin/ns4kafka/controllers/TopicController.java
  api/src/main/java/com/michelin/ns4kafka/models/Status.java
  api/src/main/java/com/michelin/ns4kafka/services/TopicService.java
  api/src/main/java/com/michelin/ns4kafka/services/connect/KafkaConnectClientProxy.java
  api/src/test/java/com/michelin/ns4kafka/controllers/AccessControlListControllerTest.java
  api/src/test/java/com/michelin/ns4kafka/controllers/ConnectControllerTest.java
  api/src/test/java/com/michelin/ns4kafka/controllers/ExceptionHandlerControllerTest.java
  api/src/test/java/com/michelin/ns4kafka/controllers/NamespaceControllerTest.java
  api/src/test/java/com/michelin/ns4kafka/controllers/RoleBindingControllerTest.java
  api/src/test/java/com/michelin/ns4kafka/controllers/TopicControllerTest.java
  api/src/test/java/com/michelin/ns4kafka/integration/ExceptionHandlerTest.java
  api/src/test/java/com/michelin/ns4kafka/integration/TopicTest.java
  api/src/test/java/com/michelin/ns4kafka/services/KafkaConnectClientProxyTest.java
  api/src/test/java/com/michelin/ns4kafka/services/KafkaTopicServiceTest.java
  cli/src/main/java/com/michelin/ns4kafka/cli/ApplySubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/DeleteSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/DiffSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/client/ClusterResourceClient.java
  cli/src/main/java/com/michelin/ns4kafka/cli/client/NamespacedResourceClient.java
  cli/src/main/java/com/michelin/ns4kafka/cli/models/Resource.java
  cli/src/main/java/com/michelin/ns4kafka/cli/models/Status.java
  cli/src/main/java/com/michelin/ns4kafka/cli/services/HttpExceptionService.java
  cli/src/main/java/com/michelin/ns4kafka/cli/services/ResourceService.java
Labels: component: API, component: CLI, feature, refactor

#91 Refactor the display of CLI
  cli/src/main/java/com/michelin/ns4kafka/cli/DeleteRecordsSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/DeleteSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/DiffSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/FormatUtils.java
  cli/src/main/java/com/michelin/ns4kafka/cli/GetSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/ImportSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/ResetOffsetsSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/services/HttpExceptionService.java
  cli/src/main/java/com/michelin/ns4kafka/cli/services/ResourceService.java
Labels: refactor

#93 Fixed 403 error when trying to delete topics contents
  api/src/main/java/com/michelin/ns4kafka/security/ResourceBasedSecurityRule.java
  api/src/test/java/com/michelin/ns4kafka/security/ResourceBasedSecurityRuleTest.java
Labels: component: API, fix

#92 Added CLI logger management using config.yml
  cli/src/main/resources/application.yml
  cli/src/main/resources/logback.xml
Labels: component: CLI, feature

#97 Added Configurable AKHQ roles
  README.md
  api/src/main/java/com/michelin/ns4kafka/controllers/AkhqClaimProviderController.java
  api/src/main/java/com/michelin/ns4kafka/controllers/AkhqClaimProviderControllerConfig.java
  api/src/main/resources/application.yml
  api/src/test/java/com/michelin/ns4kafka/controllers/AkhqClaimProviderControllerTest.java
  api/src/test/java/com/michelin/ns4kafka/integration/TopicTest.java
Labels: component: API, feature

#98 Updated to micronaut 2.5.9
  api/build.gradle
  gradle.properties
Labels: refactor

#100 Added Host header when fowarding to kafka connect backends
  api/src/main/java/com/michelin/ns4kafka/services/connect/KafkaConnectClientProxy.java
Labels: component: API, fix

#95 Add KafkaStream management
  api/src/main/java/com/michelin/ns4kafka/controllers/ApiResourcesController.java
  api/src/main/java/com/michelin/ns4kafka/controllers/StreamController.java
  api/src/main/java/com/michelin/ns4kafka/models/KafkaStream.java
  api/src/main/java/com/michelin/ns4kafka/repositories/StreamRepository.java
  api/src/main/java/com/michelin/ns4kafka/repositories/kafka/KafkaStreamRepository.java
  api/src/main/java/com/michelin/ns4kafka/services/StreamService.java
  api/src/main/java/com/michelin/ns4kafka/services/executors/AccessControlEntryAsyncExecutor.java
  api/src/test/java/com/michelin/ns4kafka/controllers/StreamControllerTest.java
  api/src/test/java/com/michelin/ns4kafka/integration/StreamTest.java
  api/src/test/java/com/michelin/ns4kafka/models/StreamTest.java
  api/src/test/java/com/michelin/ns4kafka/services/StreamServiceTest.java
Labels: component: API, feature
