Repository michelin/ns4kafka, pull requests merged in 2021-12, with the labels that each got.

#140 Display causes of error in native image
  cli/src/main/java/com/michelin/ns4kafka/cli/models/Status.java
Labels: component: CLI, fix

#139 Make AccessControlEntry spec immutable
  api/src/main/java/com/michelin/ns4kafka/controllers/AccessControlListController.java
  api/src/test/java/com/michelin/ns4kafka/controllers/AccessControlListControllerTest.java
Labels: component: API, feature

#141 Feat/schema management v2
  api/src/main/java/com/michelin/ns4kafka/controllers/ApiResourcesController.java
  api/src/main/java/com/michelin/ns4kafka/controllers/SchemaController.java
  api/src/main/java/com/michelin/ns4kafka/models/Schema.java
  api/src/main/java/com/michelin/ns4kafka/models/SchemaCompatibilityState.java
  api/src/main/java/com/michelin/ns4kafka/services/SchemaService.java
  api/src/main/java/com/michelin/ns4kafka/services/executors/KafkaAsyncExecutorConfig.java
  api/src/main/java/com/michelin/ns4kafka/services/schema/KafkaSchemaRegistryClientProxy.java
  api/src/main/java/com/michelin/ns4kafka/services/schema/client/KafkaSchemaRegistryClient.java
  api/src/main/java/com/michelin/ns4kafka/services/schema/client/entities/SchemaCompatibilityCheckResponse.java
  api/src/main/java/com/michelin/ns4kafka/services/schema/client/entities/SchemaCompatibilityResponse.java
  api/src/main/java/com/michelin/ns4kafka/services/schema/client/entities/SchemaRequest.java
  api/src/main/java/com/michelin/ns4kafka/services/schema/client/entities/SchemaResponse.java
  api/src/test/java/com/michelin/ns4kafka/controllers/SchemaControllerTest.java
  api/src/test/java/com/michelin/ns4kafka/integration/AbstractIntegrationConnectTest.java
  api/src/test/java/com/michelin/ns4kafka/integration/AbstractIntegrationSchemaRegistryTest.java
  api/src/test/java/com/michelin/ns4kafka/integration/ConnectTest.java
  api/src/test/java/com/michelin/ns4kafka/integration/SchemaTest.java
  api/src/test/java/com/michelin/ns4kafka/services/KafkaConnectClientProxyTest.java
  api/src/test/java/com/michelin/ns4kafka/services/KafkaSchemaRegistryClientProxyTest.java
  api/src/test/java/com/michelin/ns4kafka/services/SchemaServiceTest.java
  api/src/test/java/com/michelin/ns4kafka/testcontainers/KafkaConnectContainer.java
  api/src/test/java/com/michelin/ns4kafka/testcontainers/SchemaRegistryContainer.java
  cli/src/main/java/com/michelin/ns4kafka/cli/ApplySubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/DiffSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/KafkactlCommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/SchemaSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/client/NamespacedResourceClient.java
  cli/src/main/java/com/michelin/ns4kafka/cli/models/SchemaCompatibility.java
  cli/src/main/java/com/michelin/ns4kafka/cli/services/ResourceService.java
  cli/src/main/resources/application.yml
Labels: component: CLI, component: API, feature
