Repository michelin/ns4kafka, pull requests merged in 2022-01, with the labels that each got.

#143 Auto create SCRAM users
  api/src/main/java/com/michelin/ns4kafka/controllers/UserController.java
  api/src/main/java/com/michelin/ns4kafka/models/KafkaUserResetPassword.java
  api/src/main/java/com/michelin/ns4kafka/services/executors/KafkaAsyncExecutorConfig.java
  api/src/main/java/com/michelin/ns4kafka/services/executors/KafkaAsyncExecutorScheduler.java
  api/src/main/java/com/michelin/ns4kafka/services/executors/TopicAsyncExecutor.java
  api/src/main/java/com/michelin/ns4kafka/services/executors/UserAsyncExecutor.java
  api/src/main/resources/application.yml
  api/src/test/java/com/michelin/ns4kafka/integration/UserTest.java
  api/src/test/resources/application-test.yml
  cli/src/main/java/com/michelin/ns4kafka/cli/KafkactlCommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/UsersSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/client/NamespacedResourceClient.java
  cli/src/main/java/com/michelin/ns4kafka/cli/services/ResourceService.java
  cli/src/main/resources/application.yml
Labels: component: CLI, component: API, feature

#147 Make api-resources return allowed items only
  api/src/main/java/com/michelin/ns4kafka/controllers/ApiResourcesController.java
  api/src/test/java/com/michelin/ns4kafka/integration/ApiResourcesTest.java
  api/src/test/resources/application-test.yml
  cli/src/main/java/com/michelin/ns4kafka/cli/ApiResourcesSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/GetSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/client/ClusterResourceClient.java
  cli/src/main/java/com/michelin/ns4kafka/cli/services/ApiResourcesService.java
  cli/src/main/resources/application.yml
Labels: component: CLI, component: API, feature

#148 Added Namespace and Cluster to Schema resource for AuditLog
  api/src/main/java/com/michelin/ns4kafka/controllers/ApiResourcesController.java
  api/src/main/java/com/michelin/ns4kafka/services/SchemaService.java
  api/src/test/java/com/michelin/ns4kafka/services/SchemaServiceTest.java
Labels: component: API, fix

#151 Remove requirement for name in Kafka Connect spec.config.name
  api/src/main/java/com/michelin/ns4kafka/controllers/ConnectController.java
  api/src/test/java/com/michelin/ns4kafka/controllers/ConnectControllerTest.java
  api/src/test/java/com/michelin/ns4kafka/integration/ConnectTest.java
Labels: component: API, fix

#152 Fixed audit log displaying null on apply schemas
  api/src/main/java/com/michelin/ns4kafka/controllers/SchemaController.java
Labels: component: API, fix

#154 Added DESCRIBE_CONFIGS ACL to Topics Owners
  api/src/main/java/com/michelin/ns4kafka/services/executors/AccessControlEntryAsyncExecutor.java
  api/src/test/java/com/michelin/ns4kafka/integration/AccessControlListTest.java
Labels: component: API, fix

#155 Make kafkactl get schemas return only names
  api/src/main/java/com/michelin/ns4kafka/services/SchemaService.java
  api/src/test/java/com/michelin/ns4kafka/services/SchemaServiceTest.java
Labels: refactor, component: API
