Repository michelin/ns4kafka, pull requests merged in 2022-02, with the labels that each got.

#156 Added context switch within the CLI
  cli/build.gradle
  cli/src/main/java/com/michelin/ns4kafka/cli/ApplySubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/ConfigSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/DeleteRecordsSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/DeleteSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/ImportSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/KafkactlCommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/KafkactlConfig.java
  cli/src/main/java/com/michelin/ns4kafka/cli/client/ClusterResourceClient.java
  cli/src/main/java/com/michelin/ns4kafka/cli/services/ApiResourcesService.java
  cli/src/main/java/com/michelin/ns4kafka/cli/services/ConfigService.java
  cli/src/main/java/com/michelin/ns4kafka/cli/services/LoginService.java
  cli/src/main/java/com/michelin/ns4kafka/cli/services/ResourceService.java
  cli/src/main/resources/application.yml
Labels: component: CLI, feature

#161 Improved Kafkactl contexts UX
  cli/src/main/java/com/michelin/ns4kafka/cli/ConfigSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/services/ConfigService.java
Labels: component: CLI, fix

#165 Added endpoint to support AKHQ v0.20.0
  api/src/main/java/com/michelin/ns4kafka/controllers/AkhqClaimProviderController.java
  api/src/test/java/com/michelin/ns4kafka/controllers/AkhqClaimProviderControllerTest.java
Labels: component: API, feature
