Repository michelin/ns4kafka, pull requests merged in 2022-07, with the labels that each got.

#193 Fix reset-offsets documentation examples
  README.md
Labels: documentation

#195 Migrated schemas API to reactive
  api/src/main/java/com/michelin/ns4kafka/controllers/ExceptionHandlerController.java
  api/src/main/java/com/michelin/ns4kafka/controllers/SchemaController.java
  api/src/main/java/com/michelin/ns4kafka/services/SchemaService.java
  api/src/main/java/com/michelin/ns4kafka/services/schema/client/KafkaSchemaRegistryClient.java
  api/src/test/java/com/michelin/ns4kafka/controllers/SchemaControllerTest.java
  api/src/test/java/com/michelin/ns4kafka/services/SchemaServiceTest.java
Labels: refactor, component: API

#196 Migrated schemas "get all" to reactive
  api/src/main/java/com/michelin/ns4kafka/controllers/SchemaController.java
  api/src/main/java/com/michelin/ns4kafka/services/SchemaService.java
  api/src/main/java/com/michelin/ns4kafka/services/schema/client/KafkaSchemaRegistryClient.java
  api/src/test/java/com/michelin/ns4kafka/controllers/SchemaControllerTest.java
  api/src/test/java/com/michelin/ns4kafka/services/SchemaServiceTest.java
  cli/src/main/java/com/michelin/ns4kafka/cli/ApiResourcesSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/ApplySubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/ConfigSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/ConnectorsSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/DeleteRecordsSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/DeleteSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/DiffSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/GetSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/ImportSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/KafkactlCommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/ResetOffsetsSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/SchemaSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/client/NamespacedResourceClient.java
  kafkactl.bat
Labels: refactor, component: API

#197 Displayed message when no resource to display
  cli/src/main/java/com/michelin/ns4kafka/cli/DeleteSubcommand.java
  cli/src/main/java/com/michelin/ns4kafka/cli/GetSubcommand.java
Labels: component: CLI, feature

#198 Migrated connectors API to reactive
  api/src/main/java/com/michelin/ns4kafka/controllers/ConnectController.java
  api/src/main/java/com/michelin/ns4kafka/services/KafkaConnectService.java
  api/src/main/java/com/michelin/ns4kafka/services/connect/client/KafkaConnectClient.java
  api/src/main/java/com/michelin/ns4kafka/services/executors/ConnectorAsyncExecutor.java
  api/src/test/java/com/michelin/ns4kafka/controllers/ConnectControllerTest.java
  api/src/test/java/com/michelin/ns4kafka/controllers/SchemaControllerTest.java
  api/src/test/java/com/michelin/ns4kafka/services/KafkaConnectServiceTest.java
Labels: refactor, component: API

#203 Added resource quota on count
  api/build.gradle
  api/src/main/java/com/michelin/ns4kafka/controllers/ApiResourcesController.java
  api/src/main/java/com/michelin/ns4kafka/controllers/ConnectController.java
  api/src/main/java/com/michelin/ns4kafka/controllers/ResourceQuotaController.java
  api/src/main/java/com/michelin/ns4kafka/controllers/RoleBindingController.java
  api/src/main/java/com/michelin/ns4kafka/controllers/TopicController.java
  api/src/main/java/com/michelin/ns4kafka/models/quota/ResourceQuota.java
  api/src/main/java/com/michelin/ns4kafka/models/quota/ResourceQuotaResponse.java
  api/src/main/java/com/michelin/ns4kafka/repositories/AccessControlEntryRepository.java
  api/src/main/java/com/michelin/ns4kafka/repositories/ResourceQuotaRepository.java
  api/src/main/java/com/michelin/ns4kafka/repositories/TopicRepository.java
  api/src/main/java/com/michelin/ns4kafka/repositories/kafka/KafkaResourceQuotaRepository.java
  api/src/main/java/com/michelin/ns4kafka/repositories/kafka/KafkaRoleBindingRepository.java
  api/src/main/java/com/michelin/ns4kafka/security/ResourceBasedSecurityRule.java
  api/src/main/java/com/michelin/ns4kafka/services/ResourceQuotaService.java
  api/src/main/java/com/michelin/ns4kafka/services/TopicService.java
  api/src/main/java/com/michelin/ns4kafka/validation/TopicValidator.java
  api/src/main/resources/application.yml
  api/src/main/resources/logback.xml
  api/src/test/java/com/michelin/ns4kafka/controllers/ConnectControllerTest.java
  api/src/test/java/com/michelin/ns4kafka/controllers/ResourceQuotaControllerTest.java
  api/src/test/java/com/michelin/ns4kafka/controllers/TopicControllerTest.java
  api/src/test/java/com/michelin/ns4kafka/integration/ApiResourcesTest.java
  api/src/test/java/com/michelin/ns4kafka/services/ResourceQuotaServiceTest.java
  cli/src/main/java/com/michelin/ns4kafka/cli/client/ClusterResourceClient.java
  cli/src/main/java/com/michelin/ns4kafka/cli/models/Status.java
  cli/src/main/resources/application.yml
  kafkactl.bat
Labels: component: CLI, component: API, feature
